{% extends 'base.html' %}

{% block title %}Confirmar Exclusão{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header text-center">
        <h3>Confirmar Exclusão</h3>
    </div>
    <div class="card-body">
        <p>Você tem certeza que deseja excluir o serviço "{{ servico.nome }}"?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Excluir</button>
            <a href="{% url 'servicos' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}
